.main-body {
  padding-top: 105px;
  padding-bottom: 50px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


// General formatting
.tpErrorMessage {
  color: red;
  font-weight: bold;
}

.filterclear {
  top: 0;
  bottom: 0;
  //height: 16px;
  //margin: auto;
  padding: 0;

  font-size: 18px;
  cursor: pointer;
  color: #aaa;
}

.filters .input-group-addon {
  padding: 0 6px 0 6px;
}

// For the dashboard page,

.dbProgress {
  margin-bottom: 0 !important; //prevents the progress bars from adding 20px bottom margin
}

.dbTable {
  margin-bottom: 4px !important; // reduces slightly
}

.dbPanel {
  margin-top: 21px;
}

.noresize {
  resize: none;
}

// For the budget management page

.tpRegionTotal {
  padding-left: 10px;
}

.tpBudgetIncreaseRequests {
  margin-top: 21px;
}

.tpRegionContainer {
  display: flex;
  flex-wrap: wrap;
}

.tpBranch {
  width: 350px;
  height: 80px;
  border: 1px solid #e1e1e8;
  margin: 10px;
  position: relative;
  font-size: 14px;
  border-radius: 4px;
  background-color: #f7f7f9;
}

.tpBranch--changed {
  background-color: lightyellow;
  border: 1px solid black;
}

.tpBranch__name {
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
}

.tpBranch__originalAmount {
  position: absolute;
  top: 20px;
  left: 5px;
}

.tpBranch__amount {
  position: absolute;
  top: 20px;
  right: 40px;
}

.tpBranch__delta {
  position: absolute;
  top: 35px;
  right: 40px;
  font-size: 12px;
}
.tpBranch__delta::before {
  content: "\0394\00a0";
}

.tpBranch__used {
  position: absolute;
  top: 35px;
  left: 5px;
}

.tpBranch__progressBar {
  position: absolute;
  top: 54px;
  left: 5px;
  width: 340px;
}

.tpBranch__modifierButtons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#tpUnallocatedBudgetContainer {
  display: block;
  position: fixed;
  top: 130px;
  right: 10px;
  border: 1px solid #e1e1e8;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  border-radius: 4px;
  background-color: #f7f7f9;
}

#tpReviewAndSaveChanges {
  display: block;
  position: fixed;
  top: 175px;
  right: 10px;
  z-index: 1;
  font-size: 20px;
}

[v-cloak] {
  display: none;
}

// National Budget page
.tpNationalBudgetChangeTableContainer {
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  background-color: #f7f7f9;
  margin-top: 10px;
}
.tpNationalBudgetInput {
  font-size: 20px;
}

// Fixes for jTable
#logTable select {
  color: black;
}

#allocationsTable select {
  color: black;
}

