.navbar-inverse {
  background-color: #1c1c1b;
}

/* start: increase navbar height to accomodate larger logo */

.navbar-brand {
  float: left;
  height: 100px;
  padding: 5px 5px;
  font-size: 22px;
  line-height: 30px;
}

.navbar-fixed-top {
  min-height: 100px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 0px;
}

@media (max-width: 768px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* end: increase navbar height to accomodate larger logo */

.logo {
  max-height: 100%;
  height: 100%;
  width: auto;
  padding-right: 10px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: #1c1c1b;
  padding-top: 10px;
  padding-bottom: 10px;
}